# Ambil dua nilai ini dari Supabase Dashboard > Project Settings > API
VITE_SUPABASE_URL=https://ozmuqczueenozcxxydyi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96bXVxY3p1ZWVub3pjeHh5ZHlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3OTM5NzcsImV4cCI6MjEwMzM2OTk3N30.fT_FKzbTm9WMcfcRZ8AIhox1S2mBMmujLdLBkA73QGA
